# http://ddollar.github.com/foreman/
RACK_ENV=development

SECRET_KEY_BASE=development_secret

# See https://github.com/esi/esi-docs/blob/master/docs/sso/web_based_sso_flow.md
EVE_API_CLIENT_ID=
EVE_API_SECRET_KEY=
