<section class="text-left">
  <table class="table">
    <% @calendar.agenda_by_date.each do |agenda| %>
      <%= render "event_list", date: agenda.date, events: agenda.events %>
    <% end %>
  </table>
</section>
