<h2 class="perma__header text-center"> Getting started </h2>

<section class="text-center p-4">
  <h3 class="h4">You're only 3 steps away from having EVE Online‘s calendar into your favourite calendar app.</h3>

  <dl class="onboarding-steps text-left pt-5 px-5">
    <dt class="h5">Create your secret calendar feed</dt>
    <dd class="text-muted">Afterwards, you can also specify the time zone you want to see events in.</dd>

    <dt class="h5">We‘ll periodically import your upcoming events into the feed</dt>
    <dd class="text-muted">Events will be updated once per day.
      If you think this should happen more often,
      <a href="https://github.com/lunohodov/eventical/discussions" rel="noopener nofollow" target="_blank">start a
        discussion</a>.
    </dd>

    <dt class="h5">Subscribe to the feed using your favourite calendar app</dt>
    <dd class="text-muted">Google Calendar, Apple Calendar, Outlook, and everything else on desktop or mobile that can
      understand iCal.
    </dd>
  </dl>

  <div class="py-1">
    <span class="display-4 d-block">That‘s it.</span>
    <span class="lead text-muted">We‘ll take care of the rest. Enjoy!</span>
  </div>

  <div class="py-1">
    <%= button_to private_access_path, method: :post, class: "btn btn-primary btn-lg w-50 p-2 text-uppercase" do %>
      Create feed
    <% end %>
  </div>
</section>
