<div class="cover">
  <h1 class="cover-heading">
    Instant iCal feeds for your EVE Online calendar(s).
  </h1>

  <section class="cover-feature">
    <h4>Convenient out-of-game access</h4>
    <p>Use your favourite calendar app on the desktop or mobile. Outlook, Apple Calendar,
    Google Calendar, or phone's native - you choose.</p>
    <p>Times shown in your time-zone. No more missed events!</p>
  </section>

  <section class="cover-feature">
    <h4>Keep everyone in the loop</h4>
    <p>Having a single location for scheduled incursion runs, mining operations,
    or the occasional roam keeps everyone on the same page.</p>
  </section>

  <section class="cover-feature">
    <h4>You're always in control</span></h4>
    <p>You decide who to share with - individual characters<sup>coming soon</sup>, everyone in a corporation or alliance<sup>coming soon</sup>,
    the whole Universe, or no one but you.</p>
    <p>Sharing can be stopped at anytime.</p>
  </section>

  <section class="cover-try">
    <h2>Try it</h2>
    <%= eve_online_sso_button(:large) %>
  </section>
</div>
