<% content_for :page_title, "Sharing" %>

<h2 class="perma__header text-center">Sharing events </h2>

<section class="p-4">
  <p>
    Here, you can publish a separate feed for public events you organize.
    We will consider an event to be public when:
  </p>

  <ul>
    <li>
      The title of the event starts with “[PUBLIC]“.
    </li>
    <li> The event is created by <%= current_character.name %> (this character).</li>
  </ul>

  <% if @event_sharing.active? %>
    <p class="text-center h5 my-4">
      Feed published. Subscribers can see your public events.
      <%= link_to "Stop publishing", public_calendar_path, method: :patch, class: "btn btn-outline-danger btn-sm ml-2" %>
    </p>

    <div class="alert alert-secondary text-left my-3" role="alert">
      <p>
        <input type="text"
              value="<%= calendar_feed_url(@event_sharing.access_token, format: :ics) %>"
              class="form-control"
              autofocus="true"
              readonly="readonly" />
      </p>
      <ol>
        <li>Copy the link above to your clipboard.</li>
        <li>Share it with your audience &mdash; post it on the forums, on your website, in Slack, email or twitter it, etc.</li>
        <li>Others subscribe to it via Google Calendar, Apple Calendar, Outlook, as also any other calendar
            which supports the <i>iCal</i> format.</li>
      </ol>
    </div>
  <% else %>
    <p class="text-center h5 my-4">
      Nothing published and nobody can see your public events
      <%= link_to "Start publishing", public_calendar_path, method: :patch, class: "btn btn-outline-primary btn-sm ml-2" %>
    </p>
  <% end %>
</section>
