<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h2>eventical</h2>
  <p class="lead">Instant iCal feeds for your EVE Online calendar(s).</p>
</div>

<div class="py-5">
  <h4>Convenient out-of-game access</h4>
  <p>Use your favourite calendar app on the desktop or mobile. Outlook, Apple Calendar,
  Google Calendar, or phone's native - you choose.</p>
  <p>Times are adjusted and shown in your own time-zone. No more missed events!</p>

  <h4>Keep everyone in the loop</h4>
  <p>Having a single location for scheduled incursion runs, mining operations,
  or the occasional roam keeps everyone on the same page.</p>

  <h4>You're always in control</h4>
  <p>You decide who to share with - individual characters, everyone in a corporation or alliance,
  or the whole Universe. Sharing can be stopped at anytime.</p>
</div>

<div class="text-center">
  <h2>Try it</h2>
  <a href="/login">
    <img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" alt="Log in with EVE Online"/>
  </a>
</div>
