@import "bootstrap";

body {
  display: -ms-flexbox;
  display: flex;
}

.content {
  max-width: 50em;
}

.masthead {
  margin-bottom: 1rem;

  .avatar {
    height: 48px;
    width: 48px;
  }
}

.underline-gradient {
  background-repeat: repeat-x;
  background-size: 100% 3px;
  background-position: 90% 90%;
  background-image: linear-gradient(to right, #D3EBFD 0%, #9355A3 100%);
  padding-bottom: 8px;
}

.agenda-hero__screen {
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;

  img {
    border-radius: 0.2rem !important;
  }
}

.calendars-show,
.sharings-show {
  .inner {
    text-align: left;
  }
}

.mastfoot {
  margin-top: 5em;
}
