@import "bootstrap";

body {
  display: -ms-flexbox;
  display: flex;
}

.content {
  max-width: 50em;
}

.masthead {
  margin-bottom: 1rem;

  .avatar {
    height: 48px;
    width: 48px;
  }
}

.perma__header {
  border-bottom: 3px solid;
  padding-bottom: 0.7rem;
}

.onboarding-steps {
  counter-reset: my-badass-counter;
}
.onboarding-steps dt {
  position: relative;
  padding: 4px 0 10px 0;
}
.onboarding-steps dt:before {
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  position: absolute;
  left: 0;
  top: 0;
  font: bold 50px/1 Sans-Serif;
}
.onboarding-steps dd {
  margin: 0 0 50px 0;
}
.onboarding-steps dt, .onboarding-steps dd {
  padding-left: 50px;
}

.feed-option {
  background-image: image-url("calendar_format_browser.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  display: inline-block;
  margin-right: 15px;
  padding: 0 0 0 1.66em;
}

.feed-option__browser {
  background-image: image-url("calendar_format_browser.png");
}

.feed-option__google {
  background-image: image-url("calendar_format_google.png");
}

.feed-option__apple {
  background-image: image-url("calendar_format_apple.png");
}

.feed-option__outlook {
  background-image: image-url("calendar_format_outlook.png");
}

.underline-gradient {
  background-repeat: repeat-x;
  background-size: 100% 3px;
  background-position: 90% 90%;
  background-image: linear-gradient(to right, #D3EBFD 0%, #9355A3 100%);
  padding-bottom: 8px;
}

.agenda-hero__screen {
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;

  img {
    border-radius: 0.2rem !important;
  }
}

.calendars-show,
.sharings-show {
  .inner {
    text-align: left;
  }
}

.mastfoot {
  margin-top: 5em;
}
